page-menu {
    [order-color] {
        background-color: rgba(68, 67, 88, 0.116);
    }
    [set-height]{
        height: 100%;
    }
    [title-color]{
        color: white;
        // background-color: rgba(147, 147, 156, 0.116);
    }
    [bar-color]{
        background-color: rgba(27, 27, 41, 0.384);
    }
}